<!DOCTYPE html>
<html>
<head>
<title>School</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='mountain.ico') }}">
<style type="text/css">
	#board {
border: 1px solid black;
background-color: gray;
height: 700px;
width: 1000px;
}

.awards {
background: url('static/awards.jpg');
background-size: cover;
background-color: lightblue;
width: 950px;
height: 650px;
padding: 10px;
margin: 10px;
}
</style>
</head>
<body>
<div id="board">
<div class="awards">Medals</div>
</div>
</body>
<html>